/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 * =require jquery-ui/slider
 */
 
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'lightbox';
@import "products";
@import "static_pages";
@import "jquery-ui";
@import "catalog";
@import "news";
@import "froala_editor.min.css";
@import "froala_style.min.css";
@import "font-awesome";
@import "plugins/char_counter.min.css";
@import "plugins/code_view.min.css";
@import "plugins/colors.min.css";
@import "plugins/emoticons.min.css";
@import "plugins/file.min.css";
@import "plugins/fullscreen.min.css";
@import "plugins/image_manager.min.css";
@import "plugins/image.min.css";
@import "plugins/line_breaker.min.css";
@import "plugins/quick_insert.min.css";
@import "plugins/table.min.css";
@import "plugins/video.min.css";
@import "media";
@import "social";

@font-face {
  font-family: 'Neris-Light';
  src: asset_url('Neris/Neris-Light.otf');
}

/*body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.main {
  flex: 1;
}*/

.navbar-header {
  padding-bottom: 23px;
}

.carousel-caption {
    left: 80px;
    bottom: 10%;
    right: auto;
    text-align: left;
    //Прямоугольник на всякий пожарный
    /*padding: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    right: 50%;*/
}

h1.gradient {
    font-size: 29px;
}

.form {
  width: 400px;
  margin: auto;
  #brand {
    width: 150px;
    display: inline-block;
  }
  label {
    padding-left: 10px;
    padding-right: 10px;
  }
  th, td {
    color: #777;
    font-size: 16px;
    text-align: center;
    padding: auto;
  }
}

body {
  font-family: 'Neris-Light';
}

::selection {
background: #ffb7b7; /* Safari */
}
::-moz-selection {
background: #ffb7b7; /* Firefox */
}

.navbar {
  min-height: 100px;
  background-color: #fff;
  margin-bottom: 0;
  border-radius: 0;
}

//Шаманство с выравниваниями
.navbar-default .container-fluid {
  padding-top: 23px;
}

.admin-panel {
  height: 26px;
  a {
    color: white;
    text-decoration: none;
  }
}

//Размер текста в меню
.navbar-default .navbar-nav > li > a {
  color: #c21659;
  font-size: 20px;
}

/*------------------------------------*\
  НАВИГАЦИЯ
\*------------------------------------*/

/*--- ВЫПАДАЮЩИЕ ПУНКТЫ ---*/

  #nav ul{
    list-style:none;
    position:absolute;
    left:-9999px; /* Скрываем за экраном, когда не нужно (данный метод лучше, чем display:none;) */
    opacity:0; /* Устанавливаем начальное состояние прозрачности */
    z-index: 10000;
    padding-left: 0;

    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f7f7f7;
  }
  #nav ul li{
    background-color: #f7f7f7;
    padding: 5px;
    margin-bottom: 1px;
    border-radius: 5px;
    a {
      color: #c21659;
      font-size: 15px;
    }
  }
  #nav ul a{
    white-space:nowrap; /* Останавливаем перенос текста и создаем многострочный выпадающий пункт */
    display:block;
  }
  #nav li:hover ul{ /* Выводим выпадающий пункт при наведении курсора */
    left: 0; /* Приносим его обратно на экран, когда нужно */
    opacity:1; /* Делаем непрозрачным */
  }
  #nav li:hover a{ /* Устанавливаем стили для верхнего уровня, когда выводится выпадающий список */

  }
  #nav li:hover ul a{ /* Изменяем некоторые стили верхнего уровня при выводе выпадающего пункта */

  }
  #nav li:hover ul li a:hover{ /* Устанавливаем стили для выпадающих пунктов, когда курсор наводится на конкретный пункт */
    color: black;
    text-decoration: none;
  }

 /*------------------------------------------------*/

.carousel-caption {
  h1 {
    a {
      color: white;
      text-decoration: none;
    }
  }
}

//Стрелочки Carousel от экрана
.carousel-control {
  width: 6%;
}

//Выключаю непрозрачность при наведении Carousel
.carousel-control.left, .carousel-control.right {
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
}

.gradient {
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 50px;
  margin-bottom: 40px;
}

//Для верстки
/*.col-md-3 {
  border: 1px solid;
}*/


//Футер
.footer {
  bottom: 0;
  width: 100%;
  /*height: 180px;*/
  background-color: #f7f7f7;
  border-top: 1px solid #e7e7e7;
  a {
    color: #777; /* Цвет обычной ссылки */ 
    text-decoration: none; /* Убираем подчеркивание у ссылок */
   }
   a:visited {
    color: #777; /* Цвет посещённой ссылки */
   } 
   a:hover {
    color: #777; /* Цвет ссылки при наведении на нее курсора мыши */  
    text-decoration: underline; /* Добавляем подчеркивание */
   }
  .footer-column {
    text-align: left;
    color: #777;
    ul { 
      list-style-type: none;
      padding-left: 0;
    }
  }

  .icon-facebook-rect, 
  .icon-vkontakte-rect, 
  .icon-odnoklassniki-rect, 
  .icon-instagram-filled {
    text-decoration: none !important;
    &:hover {
      color: #3e3e3e !important;
    }
  }
}

.fr-view {
  box-sizing: content-box !important;
  -webkit-box-sizing: content-box !important;
}

.pagination > li > a, .pagination > li > span {
  color: #c21659;
}

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
  z-index: 3;
  color: #fff;
  background-color: #c21659;
  border-color: #c21659;
  cursor: default;
}

.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
  color: #777777;
  background-color: #fff;
  border-color: #ddd;
  cursor: not-allowed;
}
