/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery-ui/slider
 */
$screen-sm-min: 900px;
$screen-md-min: 1060px;
$screen-lg-min: 1200px;

@import 'lightbox';
@import "bootstrap-sprockets";
@import "bootstrap";
@import "products";
@import "static_pages";
@import "jquery-ui";
@import "catalog";

@font-face {
  font-family: 'Neris-Light';
  src: url('Neris/Neris-Light.otf');
}

.navbar-brand {
  img {
    height: 100%;
  }
}

.preview-img {
  width: 100%;
  height: 100%;
}

h1.gradient {
    font-size: 29px;
}

//========================================================================================================================
/* Small devices (tablets, 900px and up) */
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .preview-img {
    width: 360px;
    height: 240px;
  }
  .navbar-brand {
    img {
      height: 140%;
    }
    padding-top: 0;
  }
  h2 {
    margin-bottom: 20px;
  }
.navbar-default .navbar-nav > .active > a {
  border-radius: 5px;
  }
}

/* Medium devices (desktops, 1000px and up) */
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  .preview-img {
    width: 360px;
    height: 240px;
  }
  .navbar-brand {
    img {
      height: 140%;
    }
    padding-top: 0;
  }
  h2 {
    margin-bottom: 20px;
  }
  //Закругленные углы у меню
  .navbar-default .navbar-nav > .active > a {
  border-radius: 5px;
  }
  //Выравнивает надпись по левому краю
  .carousel-caption {
    left: 60px;
    bottom: 10%;
    right: auto;
    text-align: left;
    //Прямоугольник на всякий пожарный
    /*padding: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    right: 50%;*/
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {
  .preview-img {
    width: 360px;
    height: 240px;
  }
  .navbar-brand {
    img {
      height: 140%;
    }
    padding-top: 0;
  }
  h2 {
    margin-bottom: 20px;
  }
  //Королевские отступы на больших экранах
  .container-fluid {
  padding-left: 80px;
  padding-right: 80px;
  }
  //Закругленные углы у меню
  .navbar-default .navbar-nav > .active > a {
  border-radius: 5px;
  }
  //Выравнивает надпись по левому краю
  .carousel-caption {
    left: 80px;
    bottom: 10%;
    right: auto;
    text-align: left;
    //Прямоугольник на всякий пожарный
    /*padding: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    right: 50%;*/
  }
}
//========================================================================================================================

.form {
  width: 400px;
  margin: auto;
  #brand {
    width: 150px;
    display: inline-block;
  }
  label {
    padding-left: 10px;
    padding-right: 10px;
  }
  th, td {
    color: #777;
    font-size: 16px;
    text-align: center;
    padding: auto;
  }
}

body {
  font-family: 'Neris-Light';
}

::selection {
background: #ffb7b7; /* Safari */
}
::-moz-selection {
background: #ffb7b7; /* Firefox */
}

.navbar {
  min-height: 100px;
  background-color: #fff;
  margin-bottom: 0;
  border-radius: 0;
}

.admin-panel {
  height: 26px;
  a {
    color: white;
    text-decoration: none;
  }
}

//Шаманство с выравниваниями
.navbar-default .container-fluid {
  padding-top: 23px;
}

//Размер текста в меню
.navbar-default .navbar-nav > li > a {
  color: #c21659;
  font-size: 20px;
}

/*------------------------------------*\
  НАВИГАЦИЯ
\*------------------------------------*/

/*--- ВЫПАДАЮЩИЕ ПУНКТЫ ---*/

  #nav ul{
    list-style:none;
    position:absolute;
    left:-9999px; /* Скрываем за экраном, когда не нужно (данный метод лучше, чем display:none;) */
    opacity:0; /* Устанавливаем начальное состояние прозрачности */
    z-index: 10000;
    padding-left: 0;

    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f7f7f7;
  }
  #nav ul li{
    background-color: #f7f7f7;
    padding: 5px;
    margin-bottom: 1px;
    border-radius: 5px;
    a {
      color: #c21659;
      font-size: 15px;
    }
  }
  #nav ul a{
    white-space:nowrap; /* Останавливаем перенос текста и создаем многострочный выпадающий пункт */
    display:block;
  }
  #nav li:hover ul{ /* Выводим выпадающий пункт при наведении курсора */
    left: 0; /* Приносим его обратно на экран, когда нужно */
    opacity:1; /* Делаем непрозрачным */
  }
  #nav li:hover a{ /* Устанавливаем стили для верхнего уровня, когда выводится выпадающий список */

  }
  #nav li:hover ul a{ /* Изменяем некоторые стили верхнего уровня при выводе выпадающего пункта */

  }
  #nav li:hover ul li a:hover{ /* Устанавливаем стили для выпадающих пунктов, когда курсор наводится на конкретный пункт */
    color: black;
    text-decoration: none;
  }

 /*------------------------------------------------*/

.carousel-caption {
  h1 {
    a {
      color: white;
      text-decoration: none;
    }
  }
}

//Стрелочки Carousel от экрана
.carousel-control {
  width: 6%;
}

//Выключаю непрозрачность при наведении Carousel
.carousel-control.left, .carousel-control.right {
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
}

.gradient {
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 50px;
  margin-bottom: 40px;
}

//Для верстки
/*.col-md-3 {
  border: 1px solid;
}*/


//Футер
.footer {
  bottom: 0;
  width: 100%;
  /*height: 180px;*/
  background-color: #f7f7f7;
  border-top: 1px solid #e7e7e7;
  a {
    color: #777; /* Цвет обычной ссылки */ 
    text-decoration: none; /* Убираем подчеркивание у ссылок */
   }
   a:visited {
    color: #777; /* Цвет посещённой ссылки */
   } 
   a:hover {
    color: #777; /* Цвет ссылки при наведении на нее курсора мыши */  
    text-decoration: underline; /* Добавляем подчеркивание */
   }
  .footer-column {
    text-align: left;
    color: #777;
    ul { 
      list-style-type: none;
      padding-left: 0;
    }
  }
}
