/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
$screen-sm-min: 900px;
$screen-md-min: 1000px;
$screen-lg-min: 1200px;

@import "bootstrap-sprockets";
@import "bootstrap";

@font-face {
  font-family: 'Neris-Light';
  src: url('Neris/Neris-Light.otf');
}

//========================================================================================================================
/* Small devices (tablets, 900px and up) */
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
.navbar-default .navbar-nav > .active > a {
  border-radius: 5px;
  }
}

/* Medium devices (desktops, 1000px and up) */
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  //Закругленные углы у меню
  .navbar-default .navbar-nav > .active > a {
  border-radius: 5px;
  }
  //Выравнивает надпись по левому краю
  .carousel-caption {
    left: 60px;
    bottom: 10%;
    right: auto;
    text-align: left;
    //Прямоугольник на всякий пожарный
    /*padding: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    right: 50%;*/
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {
  //Королевские отступы на больших экранах
  .container-fluid {
  padding-left: 80px;
  padding-right: 80px;
  }
  //Закругленные углы у меню
  .navbar-default .navbar-nav > .active > a {
  border-radius: 5px;
  }
  //Выравнивает надпись по левому краю
  .carousel-caption {
    left: 80px;
    bottom: 10%;
    right: auto;
    text-align: left;
    //Прямоугольник на всякий пожарный
    /*padding: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    right: 50%;*/
  }
}
//========================================================================================================================

body {
  font-family: 'Neris-Light';
}

.navbar {
  min-height: 100px;
  background-color: #fff;
  margin-bottom: 0;
}

//Шаманство с выравниваниями
.navbar-default .container-fluid {
  padding-top: 23px;
}

//Размер текста в меню
.navbar-default .navbar-nav > li > a {
  color: #c21659;
  font-size: 20px;
}

.navbar-brand {
  height: 70px;
  padding-bottom: 0px;
  padding-top: 0px;
  padding-right: 0px;
}

//Стрелочки Carousel от экрана
.carousel-control {
  width: 6%;
}

//Выключаю непрозрачность при наведении Carousel
.carousel-control.left, .carousel-control.right {
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
}

.gradient {
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 30px;
}

.col-md-3 {
  border: 1px solid;
}
