.catalog {
  .popular_block {
    width: 200px;
    height: 129px;
  }
  .popular.col-md-3.col-sm-3 {
    height: 200px;
  }
  .search-row {
    margin: 30px auto;
  }

  .pagination > li > a, .pagination > li > span {
    color: #c21659;
  }

  .pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
    z-index: 3;
    color: #fff;
    background-color: #c21659;
    border-color: #c21659;
    cursor: default;
  }

  .pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
    color: #777777;
    background-color: #fff;
    border-color: #ddd;
    cursor: not-allowed;
  }

  #submit_button {
    margin-top: 10px;
    padding: 10px 15px;
    color: #666666;
    border: 1px solid #cccccc;
    border-radius: 20px;
    background-color: #EDEDED;
  }

  .right-inner-addon {
    position: relative;
  }
  .right-inner-addon input {
    padding-right: 30px;    
  }
  .right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    pointer-events: none;
    color: #777;
  }
}
