// Place all the styles related to the News controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.fr-wrapper .show-placeholder {
  -webkit-box-sizing: initial;
  -moz-box-sizing: initial;
  box-sizing: initial;
}

.panel-title {
  color: #c21659;
  .pull-right {
    color: grey;
  }
}

.gradient {
  font-size: 40px !important;
}

.btn-group {
  .btn-default a{
    color: black;
    &:hover {
    text-decoration: none;
    }
  }
  .btn-danger a{
    color: white;
    &:hover {
    text-decoration: none;
    }
  }
}
