// Place all the styles related to the News controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.fr-wrapper .show-placeholder {
  -webkit-box-sizing: initial;
  -moz-box-sizing: initial;
  box-sizing: initial;
