// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h2 {
  text-align: center;
}

.price {
  color: #c21659;
}

.popular {
  text-align: center;
  img {
    margin: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #c21659;
    &:hover {
      opacity: .5;
    }
  }
  h3 {
    margin-bottom: 30px;
  }
}

.col-sm-4, .col-md-3 {
  text-align: center;
  margin-bottom: 30px;
}

ul.sidebar {
  list-style-type: none;
    padding-left: 0;
}

.col-lg-2.sidebar {
  border-right: 1px solid #e7e7e7;
  border-left: 1px solid #e7e7e7;
  min-height:100%;
  bottom: 0;
  /*background-color: #f5f5f5;*/
}

.ui-slider .ui-slider-handle {
  background-color: #E8E8E8;
  background-image: none;
  cursor: pointer;
}

#amount_max, #amount_min {
  border:0;
  color:#c21659;
  font-weight:bold;
  width: 20%;
  text-align: center;
}

#search {
  padding: 5px 10px;
  color: #666666;
  border: 2px solid #cccccc;
  border-radius: 20px;
  background-color: #EDEDED;
}

select {
  padding: 5px 10px;
  color: #666666;
  border: 1px solid #cccccc;
  border-radius: 12px;
  background-color: #fff;
  width: 100%;
}

label {
  color: #777;
  font-size: 16px;
}

input[type=radio], input[type=checkbox] {
  margin-right: 8px;      
  width: 15px;  
  height: 15px; 
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .col-sm-3 {
  color: #c21659;
  }
  h2 {
  text-align: left;
  }
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  .col-md-3 {
  padding: auto;
  color: #c21659;
  }
  h2 {
    text-align: left;
  }
}

@media (min-width: $screen-lg-min) {
  .col-md-3 {
  padding: auto;
  color: #c21659;
  }
  h2 {
    text-align: left;
  }
}
